.searchForm__container {
    margin-bottom: 10px;
    padding: 20px 15px 2px 25px;
}

.searchForm {
    width: 100%;
    max-width: 258px;
    border: 1px solid #706c72;
    border: 1px solid rgba(112, 108, 114, 0.5);
    border-radius: 20px;
    font-size: 16px;
    font-size: 1.6rem;
}

.magnifier {
    display: inline-block;
    padding: 2px 5px;
}

.magnifier svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.magnifier svg path {
    fill: #706c72;
}

.searchForm label {
    display: none;
}

.searchForm input {
    display: inline-block;
    width: 208px;
    padding: 2px 5px 2px 0;
    color: #706c72;
    background: none;
    border: 0;
}

.searchForm input:focus {
    outline: 0;
}

.searchForm input:focus::-webkit-input-placeholder {
    color: transparent;
}
.searchForm input:focus::-moz-placeholder {
    color: transparent;
}
.search-form input:focus:-ms-input-placeholder {
    color: transparent;
}
.searchForm input:focus:-moz-placeholder {
    color: transparent;
}
