.senderMessage__messageContainer {
    position: relative;
    float: right;
    width: 380px;
    padding-left: 10px;
}

.senderMessage__message {
    float: right;
    margin-right: 50px;
    max-width: 300px;
    margin-bottom: 12px;
    border: 1px solid #dedede;
    border-radius: 50px 0 50px 50px;
}

.senderMessage__message {
    background: #dedede;
}

.senderMessage__message p {
    margin: 14px 24px;
    font-size: 1.2rem;
    color: gray;
}

.senderMessage__delivered {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1rem;
}
