* {
    margin: 0;
}
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html {
    font-size: 62.5%;
}
body {
    font: 400 normal 14px/1.4 'Lato', sans-serif;
    color: #706c72;
    background: #403a3e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #be5869,
        #403a3e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #be5869,
        #403a3e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
